@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-Regular.ttf) format('truetype'),
    url(assets/Mont/Mont-Regular.woff) format('woff'),
    url(assets/Mont/Mont-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-SemiBold.ttf) format('truetype'),
    url(assets/Mont/Mont-SemiBold.woff) format('woff'),
    url(assets/Mont/Mont-SemiBold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-Bold.ttf) format('truetype'),
    url(assets/Mont/Mont-Bold.woff) format('woff'),
    url(assets/Mont/Mont-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-Heavy.ttf) format('truetype'),
    url(assets/Mont/Mont-Heavy.woff) format('woff'),
    url(assets/Mont/Mont-Heavy.woff2) format('woff2');
  font-weight: 800;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
