@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-Regular.ttf) format('truetype'),
    url(assets/Mont/Mont-Regular.woff) format('woff'),
    url(assets/Mont/Mont-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-SemiBold.ttf) format('truetype'),
    url(assets/Mont/Mont-SemiBold.woff) format('woff'),
    url(assets/Mont/Mont-SemiBold.woff2) format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-Bold.ttf) format('truetype'),
    url(assets/Mont/Mont-Bold.woff) format('woff'),
    url(assets/Mont/Mont-Bold.woff2) format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Mont';
  src:
    url(assets/Mont/Mont-Heavy.ttf) format('truetype'),
    url(assets/Mont/Mont-Heavy.woff) format('woff'),
    url(assets/Mont/Mont-Heavy.woff2) format('woff2');
  font-weight: 800;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
}

.swiper-pagination {
  bottom: 0 !important;
}

.swiper-wrapper {
  height: 350px !important;
}

.swiper-slide {
  height: 90% !important;
}

.swiper-pagination-bullet {
  background-color: #89939a !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 0 !important;
}

.swiper-pagination-bullet-active {
  background-color: #0f0f11 !important;
  width: 20px !important;
  height: 5px !important;
  border-radius: 0 !important;
}

@media (width >= 640px) {
  .swiper-slide {
    width: 100% !important;
  }

  .swiper-button-next {
    justify-content: flex-end !important;
    right: 0 !important;
  }

  .swiper-button-prev {
    justify-content: flex-start !important;
    left: 0 !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: flex !important;
    height: 95% !important;
    margin-top: -7px !important;
    top: 0 !important;
    width: 52px !important;
    background: #fafbfc !important;
    cursor: default !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    display: flex !important;
    height: 95% !important;
    justify-content: center;
    align-items: center;
    font-size: 16px !important;
    width: 32px !important;
    color: #0f0f11 !important;
    border-radius: 48px !important;
    border: 1px solid #89939a !important;
    cursor: pointer !important;
  }
}
